/* CARD */

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinreverse {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  /* max-width: 700px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  animation: slideInRight ease-out 1s forwards;
}

.card,
.card_clicked {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 20px;

  position: relative;
}

.card {
  background-color: #fce704;
  animation: spinreverse 0.5s linear 1;
}

.card_clicked {
  background-color: #cc7700;
  color: white;
  text-shadow: 2px 2px black;
  animation: spin 0.5s linear 1;
}

.card:hover,
.card_clicked:hover {
  background-color: #cc7700;
  color: white;
  text-shadow: 2px 2px black;
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.card_title {
  font-size: 25px;
}

/* TOOLTIP */

.card .tooltiptext {
  width: 120px;
  background-color: #cc7700;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border: solid black 1px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
}

.card .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cc7700 transparent transparent transparent;
}

.go .tooltiptext {
  width: 120px;
  background-color: #cc7700;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
  border: solid black 1px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
}

.go .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #cc7700 transparent transparent transparent;
}

/* AVATAR */

.avatar_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;

  animation: slideInLeft ease-out 1s forwards;
}

.avatar {
  position: relative;
  display: inline-block;
  margin-left: 80px;
}

.lettering0,
.lettering1,
.lettering2 {
  position: absolute;
  width: 80px;
  height: 55px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 15px 0;
  z-index: 1;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

.avatar .lettering0::after,
.avatar .lettering1::after,
.avatar .lettering2::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
}

.avatar .lettering0::after {
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-color: white transparent transparent transparent;
}

.avatar .lettering1::after {
  top: 40%;
  right: 98%;
  margin-top: -5px;
  border-color: transparent white transparent transparent;
}

.avatar .lettering2::after {
  top: 40%;
  left: 99%;
  margin-top: -5px;
  border-color: transparent transparent transparent white;
}

/* JOKE */

.joke_div {
  position: absolute;
  bottom: -80px;
  right: 180px;
  width: fit-content;
  /* background-color: white; */
  /* background: url("/Media/balloon.png");
  background-size: 100%;
  border: solid 2px black;
  border-radius: 20px;
  padding: 15px; */
  /* max-width: 400px; */
}

.joke_div > h4 {
  position: absolute;
  bottom: 120px;
  left: 170px;
  max-width: 320px;
}

.go {
  position: absolute;
  bottom: 20px;
  right: 80px;
  text-decoration: none;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;

  border: 3px solid black;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  background-color: white;

  cursor: pointer;
}

.go:hover {
  color: white;
  background-color: black;
}

.go > h1 {
  font-size: 40px;
  font-weight: bolder;
}
