.title {
  margin-top: 60px;
  text-align: center;
  border: 2px ridge black;
  border-width: 5px;
  box-sizing: border-box;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  background-color: white;
}

/* INTRO */

.intro_div {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
}

.intro_div > div {
  border: groove 3px black;
  margin-bottom: 30px;
  background-color: white;
  padding: 10px;
}

.intro_go {
  cursor: pointer;
}
