@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .intro_div {
    width: 80%;
    margin-top: 100px;
  }
  .intro_div > div {
    padding: 10px;
    font-size: 25px;
  }
  .title {
    width: 100%;
  }
  .title_img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .intro_div {
    width: 60%;
    margin-top: 100px;
  }
  .intro_div > div {
    padding: 25px 10px 10px 10px;
    font-size: 35px;
  }
  .title {
    width: 50%;
  }
  .title_img {
    width: 100%;
    height: auto;
  }
}

.title {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* INTRO */

.intro_div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 300px;
}

.intro_div > div {
  border: groove 5px black;
  margin-bottom: 30px;
  background-color: white;
}

.intro_go {
  cursor: pointer;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.intro_avatar {
  animation: 0.5s linear 2;
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1698932768/bad-jokes/Avatar/head2_qhf6zd.png)
    center;
  background-size: 100%;
  width: 150px;
  height: 150px;
}

.intro_avatar:hover {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699006514/bad-jokes/Avatar/linguaccia_kf6hlw.png)
    center;
  background-size: 100%;
  animation-name: spin;
}

/* INSTRUCTIONS */

@media (max-width: 768px) {
  .instructions {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .instructions {
    width: fit-content;
  }
}

.instructions {
  border: groove 4px black;
  margin-bottom: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px 25px 0px 25px;
  font-size: 25px;
}

/* FOOTER */

@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .icons_div {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .icons_div {
    position: absolute;
    left: 45%;
    top: 5%;
  }
}

.footer_container {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.footer {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.icons_div {
  width: 10%;
  display: flex;
  justify-content: center;
}

.github > div {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/github-hover_gl53oh.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
  margin: 5px 20px;
}

.github > div:hover {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/github_tmtdhi.png);
  background-size: 100%;
}

.linkedin > div {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/linkedin-hover_dbf5jc.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
  margin: 5px 20px;
}

.linkedin > div:hover {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/linkedin_nnkfyz.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
}

.mail > div {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/speech-bubble_klrxpe.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
  margin: 5px 20px;
}

.mail > div:hover {
  background: url(https://res.cloudinary.com/dtl48kr1u/image/upload/v1699266007/bad-jokes/Icons/speech-bubble-hover_xjyjkx.png);
  background-size: 100%;
  width: 50px;
  height: 50px;
}
