body {
  background: url("/Media/dotted_background.jpg");
  background-attachment: fixed;
  font-family: "poppins";
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}
