@media (max-width: 768px) {
  body {
    background: url("/Media/comics-rotate.jpg") center;
    /* background-position: top; */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* background-size: 380%; */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }

  #content {
    position: absolute;
  }
}

@media (min-width: 768px) {
  body {
    background: url("/Media/comics.jpg") center fixed no-repeat;
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
    background-size: 150%;
  }
}

body {
  font-family: "badaboom";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: "badaboom";
  src: url(Badaboom.TTF);
}
