body {
  /* background: url("/Media/dotted_background.jpg"); */
  background: url("/Media/comics.jpg") center;
  background-size: 150%;
  background-attachment: fixed;
  font-family: "badaboom";
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

@font-face {
  font-family: "poppins";
  src: url(Poppins-Regular.ttf);
}

@font-face {
  font-family: "badaboom";
  src: url(Badaboom.TTF);
}
