@media (max-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
  }
  .modal > div {
    width: 200px;
    height: 250px;
    top: 160px;
    left: 110px;
  }
  .modal > div > h4 {
    font-size: 25px;
    max-width: 200px;
  }
  .modal_balloon {
    width: 400px;
    height: 550px;
  }
  .close_button {
    font-size: 15px;
    height: 30px;
    width: 30px;
    right: 70px;
    top: 100px;
  }
}

@media (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
  }
  .modal > div {
    width: 510px;
    height: 300px;
    bottom: 160px;
    left: 270px;
  }
  .modal_balloon {
    width: 1000px;
    height: 650px;
  }
  .modal > div > h4 {
    font-size: 50px;
    max-width: 530px;
  }
  .close_button {
    font-size: 30px;
    height: 50px;
    width: 50px;
    transition: all 0.25s ease;
    right: 200px;
    top: 100px;
  }
}

.modal_background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500%;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.modal {
  position: fixed;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.modal > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div > h4 {
  text-align: center;
  color: black;
}

.close_button {
  cursor: pointer;
  font-weight: bolder;
  border: 5px solid black;
  border-radius: 33px;
  color: black;
  background: white;
  transition: all 0.25s ease;
  position: absolute;
}

.close_button:hover {
  background-color: black;
  color: white;
  border: 5px solid white;
}
